.form-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30vw;
    height: 40vh;
    border: 2px solid black;
    padding: 20px;
}

.form-field {
    height: 40px;
    padding: 10px;
    border-radius: 5px;
}

button {
    height: 60px;
    border-radius: 5px;
}

.surveys-container {
    display: grid;
    border: 1px solid black;
    padding-inline: 20px;
}

.survey {
    border: 1px solid black;
}