.form-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30vw;
    height: 40vh;
    border: 2px solid black;
    padding: 20px;
}

.form-field {
    height: 40px;
    padding: 10px;
    border-radius: 5px;
}

button {
    height: 60px;
    border-radius: 5px;
}

#root {
    display: flex;
    align-items:center;
    justify-content: center;
}

.Survey-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-inline: 50px;
    position: absolute;
    top: 25%;
    gap: 40px;
}

.Card {
    width: auto;
    height: 300px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px;
}

.survey-control {
    width: 100px;
    margin-block: 40px;
    font-weight: bold;
}

.survey-control > input {
    height: 40px;
    border-radius: 5px;
}

.dropdown {
    border: 1px solid black;
    padding:10px;
}