@font-face {
    font-family: Sofia Pro;
    src: url(../assets/fonts/sofiapro-light.otf);
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: Poppinsb ;
    src: url(../assets/fonts/Poppins-Bold.ttf);
}

/* -------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.form-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(114.44deg, rgba(0, 180, 219, 0) 31.36%, #0083B0 99.37%);
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40vw;
    max-width: 30vw;
    height: 40vh;
    border-radius: 10px;
    box-shadow: 50px 30px 100px rgba(0, 0, 0, 0.5);
    border: 3px solid black;
    background-color: #FFD481;
    padding-inline: 20px;
    font-family: Sofia Pro;
}

.register-form > h2 {
    font-family: poppins;
    font-size: 2rem;
}
.register-form > p {
    margin-top: -20px;
    font-weight: bold;
    font-size: 1.2rem;
}

.register-form > button {
    height: 60px;
    padding: 10px;
    background-color: #DEE9E5;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.form-field {
    width: 100%;
    font-size: 18px;
    height: 40px;
    padding: 10px;
    background-color: white ;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5) ;
    border-radius: 5px;
}

button {
    height: 60px;
    border-radius: 5px;
}

.app {
    display: flex;
    align-items:center;
    justify-content: center;
}

.Survey-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-inline: 50px;
    position: absolute;
    top: 25%;
    gap: 40px;   
}

.Card {
    width: auto;
    height: 300px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px;
    background-color: #FFD481;
}

.Card:nth-of-type(even){
    background-color: #DEE9E5;
}

.Main {
    background: linear-gradient(114.44deg, rgba(0, 180, 219, 0) 31.36%, #0083B0 99.37%);
}

.Main2 {
    background: linear-gradient(114.44deg, rgba(0, 180, 219, 0) 31.36%, #0083B0 99.37%);
}

.survey-control {
    width: 100px;
    margin-block: 40px;
    font-weight: bold;

}

.survey-control > input {
    height: 40px;
    border-radius: 5px;
    padding-inline: 10px
}

.dropdown {
    border: 1px solid black;
    padding:10px;
}



.Admin {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background: linear-gradient(114.44deg, rgba(0, 180, 219, 0) 31.36%, #0083B0 99.37%);
}

.adminCard {
    width: 30vw;
    display: flex;
    justify-content: space-around;
    background-color: #FFD481;
    padding-block: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

.adminCard > form > button {
    width: 100%
}

.success-message {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: lightgreen;
    text-align: center;
    padding: 20px;
    
}


.surveyEle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 20%;
    right: 35%;
    left: 35%;
    background-color: #FFD481;
    width: 30%;
    height: 50vh;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

.surveyInfo {
    font-family: Sofia Pro;
}

.questions {
    font-family: poppins;
}

.question {
    font-family: poppinsb;
}

.sur {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(114.44deg, rgba(0, 180, 219, 0) 31.36%, #0083B0 99.37%);
}

.adminPage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #FFD481;
    height: 100vh;
}

.Top-Bar {
    font-family: Sofia Pro;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    background-color:#FFD481;
    border-block: 2px solid black;
    padding-block: 50px;
}

.Top-Bar > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    height: auto;
    margin: 50px;
    text-decoration:none;
    background-color:white;
    padding: 15px;
    border-radius: 10px;
    color: black;
    border: 2px solid black;
}

li:hover {
    background-color:#0083B0;
    transform: scale(1.1);
}

li:active {
    transform: scale(0.9);
}

a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

form {
    height: 50vh;
    margin-top: 50px;
}

p {
    font-family: Poppinsb;
}

select {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    margin-block: 10px;
}

input {
    margin-block: 10px;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #FFD481;
    padding-inline: 10px;
}


.add {
    border: 3px solid #0083B0;
    width: 200px;
    margin-block: 20px;
}


.submit {
    width: 300px;
    background-color: #0083B0;
    color: white;
    font-size: 1.5rem;
}

.submit:hover {
    transform: scale(1.1);
}

.submit:active {
    transform: scale(0.9);
}


.answer {
    margin-left: 10px;
    padding-inline: 10px;
    background-color: #DEE9E5;
}

.answer:hover {
    background-color: #DEE9E8;
}


.choice {
    height: 30px;
    width: max-content;
    border: 1px solid black;
    margin-block: 5px;
    padding: 5px;
}

.choices {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}